#login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #fff;

  .login-form {
    padding: 60px 30px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    .logo {
      text-align: center;
      margin-bottom: 30px;
      background-color: #bae0ff;

      img {
        max-width: 100px;
      }
    }
  }


  .login-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../../public/cat.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 0.3s ease-in 0.2s;
  }

  .login-mask-color {
    background-color: #eb5e54 !important;
  }

  .login-bg-mask {
    z-index: 1;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .login-description {
    position: relative;
    z-index: 2;
  }
}
