.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-end {
  text-align: end;
}

.w-100 {
  width: 100%;
}

//text
.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}

// font
.f-12 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 14px;
}

.f-13 {
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0;
}

.f-14 {
  color: rgb(0, 0, 0);
  font-size: 14px !important;
  font-style: normal;
  letter-spacing: 0;
}

.f-16 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 24px;
}

.f-18 {
  opacity: 1;
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  line-height: 22px;
}

.f-20 {
  opacity: 1;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 28px;
}

.f-28 {
  opacity: 1;
  font-size: 28px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 28px;
}

.f-30 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 38px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

// color
.color-gray-2 {
  color: rgba(0, 0, 0, 0.85);
}

.color-gray-1 {
  color: rgba(0, 0, 0, 0.65);
}

.color-gray-0 {
  color: rgb(153, 153, 153);
}

.color-gray {
  color: rgba(0, 0, 0, 0.45);
}

// color text
.t-description {
  color: rgba(0, 0, 0, 0.85) !important;
}

.t-white {
  color: #fff !important;
}

// display
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.d-block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end !important;
}

//spacing
.m-auto {
  margin: auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}

// line-heigh
.line-height-1 {
  line-height: 1rem;
}

.btn-100 {
  width: 100px;
}

.btn-150 {
  width: 150px;
}

.btn-200 {
  width: 200px;
}

.m-0 {
  margin: 0;
}

.display-none {
  display: none !important;
}

@for $f from 0 to 40 {
  .fs-#{$f} {
    font-size: $f * 1px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.bank-list {
  min-width: 200px !important;
}

.customer-auto-complete .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.customer-auto-complete .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.customer-auto-complete .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.customer-auto-complete .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.customer-auto-complete .ant-select-dropdown-menu {
  max-height: 300px;
}

.ant-form-item .ant-form-item-label {
  font-weight: 600;
}

.ant-input-number .ant-input-number-handler-wrap {
  display: none;
}
