*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $bodyColor;
}

a {
  text-decoration: none;
}

.nav-profile-menu {
  .ant-dropdown-menu {
    width: 240px;
  }
}

.app-layout {
  height: 100vh;

  .app-header {
    background: #ffffff;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .app-content {
    margin: 1rem;
    // background: $white;
  }

  .site-layout {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
  }
}

.modal-loading {
  .ant-modal-content {
    background: none;
    box-shadow: none;
    text-align: center;
  }
}

.border-rounded {
  border-radius: 40px !important;
}

.background-white {
  background-color: $white;
}

.sidebar-menu {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.ant-menu-light {
  .ant-menu-item-selected {
    color: black;
    background-color: #f5c5c1 !important;
  }
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: red
}

.ant-table-body {
  .ant-table-tbody {
    .ant-table-row {
      .ant-table-cell {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.upload-logo {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.upload-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.custom-upload .ant-upload {
  width: 100% !important;
  min-height: 180px;
  max-height: 200px;
  margin-bottom: 5px !important;
}

.readonly-class {
  pointer-events: none;
}

.ant-card {
  z-index: 0;
}
