.ant-select-single .ant-select-selector {
  color: rgba(0, 0, 0, 0.88) !important;
}

.custom-sidebar {
  position: relative;
  background-color: #fff;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.resizable {
  aside {
    max-width: none !important;
    min-width: unset !important;
    width: 100% !important;
  }
}

.logo {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb5e54;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
